.intro-wrapper{
    padding-top: 5%;
    height: 100vh;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8.5%;
}

.intro-image img{
    width: 180px;
    height: 160px;
    border-radius: 100%;
    border: 2px solid rgba(147, 112, 219, 1);
    object-fit: cover;
}

.intro-header h1{ 
  padding-top: 5%;  
  font-size: 35px;
  font-weight: 800;  
  color: white;
  text-align: center;
}

.intro-header h3{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-top: 5%;
    font-size: 43px;
    color: rgba(147, 112, 219, 1);
    font-weight: lighter;
    text-align: center;
}

.intro-header h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 43px;
    color: rgba(147, 112, 219, 1);
    font-weight: lighter;
    text-align: center;
}

@media (max-width: 768px) {

    .intro-wrapper{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .intro-image img {
        width: 170px;
        height: 150px;
    }

    /* Ajusta el tamaño y el espaciado de los encabezados para dispositivos móviles */
    .intro-header h1 {
        font-size: 32px;
    }

    .intro-header h3,
    .intro-header h4 {
        font-size: 22px;
    }
}