.projects-wrapper{
    padding-top: 4%;
    background-color: rgb(20, 20, 20);
    height: auto;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-container{
    max-width: 635px;
    margin: 0 auto;
}

.projects-container h2{
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.projects-container p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1%;
    padding-bottom: 4%;
}

.icon-proj{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.icon-buffer{
    color: rgba(147, 112, 219, 1);
    font-size: 20px;
    text-align: center;
}

.dest-proj{
    font-weight: bold;
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-container{
    margin: 20px 0;
    background-color: rgb(10, 10, 10);
    padding: 20px;
}

.image-container{
    flex: 0 0 300px;
    max-width: 100%;
}

.image-project{
    width: 100%;
    height: auto;
    padding: 20px;
}

.projects-details{
    flex-grow: 1;
}

.details{
    display: flex;
    flex-direction: column;
}

.details h4{
    color: white;
    font-size: 20px;
    text-align: start;
    padding-top: 20px;
    font-weight: 800;
    margin: 0;
}

.details .subt{
    display: flex;
    font-size: 15px;
    text-align: start;
    padding: 1px;
    margin: 0;
    display: inline;
    color: rgba(147, 112, 219, 1);
}

.details .desc{
    display: flex;
    font-size: 17px;
    text-align: start;
    padding: 1px;
    margin: 0;
    display: inline;
}

@media (max-width: 768px) {

    .projects-container h2 {
        font-size: 35px;
    }

    .icon-buffer {
        font-size: 18px;
    }

    .details h4 {
        font-size: 18px;
        padding-top: 0;
    }

    .details .subt {
        font-size: 12px;
    }

    .details .desc {
        font-size: 13px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        margin: 0 auto; /* Márgenes automáticos en los laterales para centrar */
        margin-left: 20px; /* Margen a la izquierda para crear un cuadro centrado */
        margin-right: 20px;
        padding: 0;
    }

    
    .projects-detail{
        padding: 0px 20px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .details{
        margin-bottom: 25px;
    }

    .image-container, .projects-detail{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }

    .image-container{
        margin-bottom: -10px;
    }

    .image-project {
        width: 100%; /* Para asegurarse de que la imagen se ajuste al contenedor */
    }
 

}

@media (min-width: 376px) and (max-width: 425px) {
    .image-container {
        margin-bottom: -70px; /* Margen negativo para compensar el espacio */
    }

    .projects-detail {
        margin-top: 20px; /* Ajusta el margen superior del contenedor de detalles */
        margin-bottom: 0; /* Elimina cualquier margen inferior */
    }

    .projects-container{
        max-width: 380px;
    }

    .projects-container p{
        max-width: 300px;
        margin: 0 auto;
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .image-container {
        margin-bottom: -100px; /* Margen negativo para compensar el espacio */
    }

    .projects-detail {
        margin-top: 20px; /* Ajusta el margen superior del contenedor de detalles */
        margin-bottom: 0; /* Elimina cualquier margen inferior */
    }

    .projects-container{
        max-width: 380px;
    }

    .projects-container p{
        max-width: 270px;
        margin: 0 auto;
        font-size: 13px;
    }

}

